{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Register{% endblock %}
{% block head %}<link href="/static/css/forms.css" rel="stylesheet">{% endblock %}
{% block body %}

<div class="main">
    <div class="form-header">
        <h2>Register to StepByStep</h2>
    </div>
    <div class="register-form">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.user_name, class_='form-control input-block') }}
            {{ render_field(form.password, class_='form-control input-block') }}
            {{ render_field(form.password2, class_='form-control input-block') }}
            {{ form.submit(class_='btn btn-block') }}
        </form>
    </div>
</div>

{% endblock %}
{% block foot %}
<script>
    $(".font-error").next().addClass('input-error')
</script>
{% endblock %}