[Unit]
Description=step by step

[Service]
WorkingDirectory=/root/step-by-step-be
Type=simple
ExecStart=/root/step-by-step-be/venv/bin/uvicorn --host 0.0.0.0 --port 8000 main:app
Restart=on-failure
RestartSec=5s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
