<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
</head>
<body>
<a href="{% url 'GetOrgList' %}" target="_blank">获取所有的组织</a><br>
<a href="{% url 'Login' %}" target="_blank">Login</a><br>
<a href="{% url 'Logout' %}" target="_blank">Logout</a><br>
<a href="{% url 'CreateOrgAdmin' %}" target="_blank">创建Org管理员</a><br>
<a href="{% url 'GetOrgAdmin' %}" target="_blank">获得管理员列表</a><br>
<a href="{% url 'UpdateOrgAdmin' %}" target="_blank">修改管理员信息</a><br>
<a href="{% url 'DeleteOrgAdmin' %}" target="_blank">删除组织管理员</a><br>
<a href="{% url 'CreateOrg' %}" target="_blank">新建组织</a><br>
<a href="{% url 'UpdateOrg' %}" target="_blank">修改组织</a><br>
<a href="{% url 'DeleteOrg' %}" target="_blank">删除组织</a><br>
<a href="{% url 'CreateStep' %}" target="_blank">新增计划</a><br>
<a href="{% url 'UpdateStep' %}" target="_blank">修改计划</a><br>
<a href="{% url 'DeleteStep' %}" target="_blank">删除计划</a><br>
<a href="{% url 'GetStepList' %}?orgId=0" target="_blank">获取指定Org的Step列表</a><br>
<a href="{% url 'AddStepUser' %}" target="_blank">为计划添加用户</a><br>
<a href="{% url 'DelStepUser' %}" target="_blank">在计划中删除用户</a><br>
<a href="{% url 'GetUserStepList' %}?source=SDUT&userName=cyk" target="_blank">获取某人参加的所有计划</a><br>

</body>
</html>