{% extends 'base.html' %}
{% block title %}Plans{% endblock %}
{% block head %}{% endblock %}
{% block body %}
<div class="container">
<table class="table table-striped table-bordered">
    <thead>
        <tr id="thead">
            <th>简称</th>
            <th>域名</th>
        </tr>
    </thead>
    <tbody class="vertical-middle" id="tbody">
        {% for user in users %}
        <tr>
            <td><a href="{{ url_for('main.plan_list', name=user.user_name)}}">{{ user.user_name }}</a></td>
            <td><a href="{{ url_for('main.plan_list', name=user.user_name)}}">{{ user.nick_name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
{% block foot %}
{% endblock %}