<!DOCTYPE html>

<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/sbs.min.css?v3.0.4" rel="stylesheet">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dotdotdot.min.js"></script>
    <script src="/static/js/admin.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta charset="utf-8">
    <title>StepByStep</title>
</head>

<body>
    <script>
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
    <form name="fileForm" style="display: none;">
        <input type="file" id="upFile" name="file" />
        <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' id="csrfToken" />
    </form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                    </h4>
                </div>
                <div class="modal-body" id="myModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="myModalSubmit">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        帮助
                    </h4>
                </div>
                <div class="modal-body" id="myModalBody">
                    <b>新建计划</b>
                    <p>在页面右下的输入框中设置计划信息，点击新建即可。</p>
                    <b>修改计划</b>
                    <p>点击计划名称即可修改计划名称，不支持修改计划来源。</p>
                    <b>删除计划</b>
                    <p>点击计划对应行的删除即可。</p>
                    <b>添加计划题目</b>
                    <p>点击题数，在底部选择提交，将Excel格式的题目上传即可。<a href="/static/problem.xlsx">示例下载</a></p>
                    <b>批量添加计划用户</b>
                    <p>点击人数，在底部选择提交，将Excel格式的用户上传，页面会在一秒之后以0.1秒的间隔进行校验提交，添加失败的用户会显示在页面上。SDUT的用户名会自动转化为uid。<a href="/static/user.xlsx">示例下载</a></p>
                    <b>单个添加计划用户</b>
                    <p>点击人数，在弹出框底部填写信息，提交即可。若添加失败，会返回失败信息。</p>
                    <b>从计划中删除用户</b>
                    <p>点击人数，点击要删除的用户对应行的删除即可。</p>
                    <b>BUG及其他问题反馈</b>
                    <p>请联系<a href="mailto:meik2333@gmail.com" target="_blank">meik2333@gmail.com</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="everything">
        <div class="banner">
            <div class="container">
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">StepByStep</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a data-toggle="modal" data-target="#helpModal" href="javascript:void(0)">帮助</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">{{ user.username }}</a></li>
                        <li><a href="javascript:void(0)" onclick="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="main">
        <h2 id="orgName"></h2>
        <div class="container">
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr id="thead">
                        </tr>
                    </thead>
                    <tbody class="vertical-middle" id="tbody">
                    </tbody>
                </table>
                <br>
                <div class="span12 form-inline">
                    <div class="pull-right">
                        <input type="hidden" id="orgId" value="{{ orgId }}">
                        <div class="input-group">
                            <select class="form-control" id="createStepSource">
                                <option value="SDUT">SDUT</option>
                                <option value="POJ">POJ</option>
                                <option value="HDU">HDU</option>
                                <option value="UVA">UVA</option>
                            </select>
                        </div>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="计划名称" id="createStepTitle">
                            <span class="input-group-btn">
                                <button class="btn btn-default" onclick="createStep()">新建</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>