<!DOCTYPE html>

<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/sbs.min.css?v3.0.4" rel="stylesheet">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dotdotdot.min.js"></script>
    <script src="/static/js/step.js"></script>
    <script src="/static/js/fixed_table_header.min.js?v3.0.4"></script>
    <script src="/static/js/sbs_resize_table.min.js?v3.0.4"></script>
    <script src="/static/js/expanda.min.js?v3.0.4"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta charset="utf-8">
    <title>StepByStep</title>
</head>

<body>
    <input type="hidden" id="stepId" value="{{ stepId }}">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">关于</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <h3><span class="glyphicon glyphicon-send" aria-hidden="true"></span> StepByStep <sup>4.0β</sup></h3>
                        <h6>version 4.0.0</h6>
                        <h6>Copyright © 2016-2017 StepByStep</h6>
                        <h6>Designed by <a href="https://HellobLue.net" target="_blank">bLue</a> &amp; <a href="https://github.com/MeiK-h"
                                target="_blank">MeiK</a></h6>
                        <p></p><br />
                        <p class="text-center">
                            Have problem? Please contact <a href="mailto:meik2333@gmail.com" target="_blank">meik2333@gmail.com</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="statisticsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">统计</h4>
                </div>
                <div class="modal-body" id="myModalBody">
                    <p>统计数据将在页面加载完成后显示。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">说明</h4>
                </div>
                <div class="modal-body" id="myModalBody">
                    <h4>训练计划表格中每一个单元格的内容表示什么？</h4>
                    <p>每一个单元格表示用户该题的完成情况。单元格的内容有如下几种情况：</p>
                    <ul>
                        <li>空白：该用户此题还未提交过。</li>
                        <li>浅绿色：该用户此题提交通过，并显示首次提交通过的时间。</li>
                        <li>深绿色：满足上一条，且是 7 天内的提交，则颜色加深为深绿色。</li>
                        <li>浅红色：该用户此题已提交但未通过，并显示最近一次提交的时间。</li>
                        <li>深红色：满足上一条，且是 7 天内的提交，则颜色加深为深红色。</li>
                    </ul>
                    <br />
                    <h4>我只想看自己的训练完成情况，怎么办？</h4>
                    <p>点击训练计划上方表头的姓名即可打开个人页面，你可以收藏自己的个人页面，随时查看训练完成情况。</p>
                    <br />
                    <h4>为什么我刚刚提交的记录刷新以后看不到，但是等一会再刷新就能看到了？</h4>
                    <p>由于训练计划参加人数很多，抓取所有用户的数据需要不少时间，抓取过于频繁也可能导致被对应平台封禁IP，因此我们会每隔一段时间进行数据更新。目前为每小时进行一次更新。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">StepByStep</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a data-toggle="modal" data-target="#statisticsModal" href="javascript:void(0)">统计</a></li>
                            <li><a data-toggle="modal" data-target="#myModal" href="javascript:void(0)">关于</a></li>
                            <li><a data-toggle="modal" data-target="#faqModal" href="javascript:void(0)">说明</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="blank"></div>
            <div id="div1" class="main-div" style="width: 360px; overflow: hidden;">
                <table id="table1" class="table table-bordered" style="table-layout: fixed;">
                    <col style="width:100px" />
                    <col style="width:159px" />
                    <col style="width:100px" />
                    <thead class="vertical-middle">
                        <tr class="step-title">
                            <th colspan="3" id="step-title">-</th>
                        </tr>
                        <tr class="step-header">
                            <th>专项</th>
                            <th>专题</th>
                            <th>题目</th>
                        </tr>
                    </thead>
                    <tbody id="problem-list">

                    </tbody>
                </table>
            </div>
            <div id="div2" class="main-div" style="width: 1px; overflow: auto; border-right: 1px solid #ddd;" onscroll="document.getElementById('div1').scrollTop = this.scrollTop;">
                <table id="table2" class="table table-bordered table-hover" style="table-layout: fixed;">
                    <thead>
                        <tr class="head-user" id="user-list">

                        </tr>
                    </thead>
                    <tbody class="vertical-middle" id="problem-status">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        // Initialization
        $(function () {
            // Add title & progress
            $("#div1 tbody tr").each(function () {
                $(this).children("td").each(function (idx, e) {
                    if (idx < 2) $(e).attr("title", $(e).text());
                });
            });
            $("#table2 th .progress").each(function () {
                var value = $(this).children(".progress-bar").attr("aria-valuenow");
                var title = value + '% Complete'
                $(this).attr("title", title);
                $(this).children(".progress-bar").append('<span class="sr-only">' + title + '</span>');
                $(this).children(".progress-bar").css("width", value + '%');
            });
            // expanda
            $("#div1 a").parent("td").expanda();
            $("#table2 th").each(function () {
                $(this).children("div:first").expanda();
            });
            // dot-ellipsis
            var heightPerProb = 38;
            var edge = 18;
            $("#div1 td").each(function () {
                $(this).addClass("dot-ellipsis");
                var num = $(this).attr("rowspan");
                if (typeof (num) == "undefined") num = 1;
                $(this).dotdotdot({
                    height: num * heightPerProb - edge
                });
            });
            // tooltip
            $("#div1 a").attr({ "data-toggle": "tooltip", "data-placement": "right" });
            $("[data-toggle='tooltip']").click(function () {
                $(this).blur();
            });
        });
        // Enable tooltip
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
</body>

</html>
