<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/back_to_top.min.css?v3.0.4" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/sbs.min.css?v3.0.4" rel="stylesheet">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/expanda.min.js?v3.0.4"></script>
    <script src="/static/js/back_to_top.min.js?v3.0.4"></script>
    <script src="/static/js/user.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>StepByStep</title>
</head>

<body>
    <input type="hidden" id="user-source" value="{{ source }}">
    <input type="hidden" id="user-userName" value="{{ userName }}">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">关于</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <h3><span class="glyphicon glyphicon-send" aria-hidden="true"></span> StepByStep <sup>4.0β</sup></h3>
                        <h6>version 4.0.0</h6>
                        <h6>Copyright © 2016-2017 StepByStep</h6>
                        <h6>Designed by <a href="https://HellobLue.net" target="_blank">bLue</a> &amp; <a href="https://github.com/MeiK-h"
                                target="_blank">MeiK</a></h6>
                        <p></p><br />
                        <p class="text-center">
                            Have problem? Please contact <a href="mailto:meik2333@gmail.com" target="_blank">meik2333@gmail.com</a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="everything">
        <div class="banner">
            <div class="container">
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">StepByStep</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a data-toggle="modal" data-target="#myModal" href="javascript:void(0)">关于</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row-fluid">
            <p id="back-to-top"><a href="#top"><span><img alt="返回顶部" src="/static/images/back_to_top.png"></span>返回顶部</a></p>
            <div class="text-center" id="user-info">
            </div>
            <div class="user-step-table">
                <ul class="nav nav-tabs nav-justified" role="tablist" id="step-list">
                </ul>
                <div class="tab-content" id="step-content">
                </div>
            </div>
        </div>
    </div>
    <script>
        // Initialization
        $(function () {
            // Add title
            $(".table tr").each(function () {
                $(this).children("td").each(function (idx, e) {
                    if (idx < 2) $(e).attr("title", $(e).text());
                });
            });
            // expanda
            $(".table a").parent("td").expanda();
            // tooltip
            $(".table a").attr({ "data-toggle": "tooltip", "data-placement": "right" });
            $("[data-toggle='tooltip']").click(function () {
                $(this).blur();
            });
        });
        // Enable tooltip
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
</body>

</html>