<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}StepByStep{% endblock %} - StepByStep</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/sbs.min.css?v3.0.4" rel="stylesheet">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta charset="utf-8">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="everything">
        <div class="banner">
            <div class="container">
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">StepByStep</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('main.guide') }}">使用指南</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('admin.main') }}">{{ current_user.user_name }}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block body %}{% endblock %}
    {% block foot %}{% endblock %}
</body>

</html>