{% extends 'base.html' %}
{% block title %}Guide{% endblock %}
{% block head %}<script src="/static/js/marked.min.js"></script>{% endblock %}
{% block body %}
<div id="body" style="width: 60%; margin: auto;">
## 使用指南

#### 基础
- 点击右上角的 **Register** 来注册一个管理员，每个管理员都拥有一个自己的域。但只有被认证过的管理员才可以在首页显示自己的域。
- 注册时需要提供注册码，每个邮箱只能申请一个注册码。
- 未认证的管理员虽然无法在首页显示域，但仍可以通过个人链接进入自己的域。
- 管理员登录后可以点击右上角自己的用户名来进入域管理页面。
- 未认证管理员最多只能创建5个计划，删除计划不会返还一个限制。

#### 创建计划
- 创建计划只需要点击左下角的按钮，然后填上信息、按下提交，就完事了。

### 添加计划题目
- 点击某个计划的题目，然后点击提交，提交一个Excel文件即可。
- 当然，Excel文件也是符合规定的格式才可以，请参照[这里](#)。

#### 添加计划参与账号
- 添加账号时需要用户账号、班级、用户昵称以及用户唯一标识这些数据，其中用户唯一标识建议使用学号，防止与别人发生冲突。
- 用户唯一标识相同的账号将会被认为是同一个用户的账号，在个人页面中会被显示在一起。
- 添加用户时，若该用户在该平台上的账号没有被添加过，则会在验证后被添加到更新池中，如果已经被添加过且与之前的信息不相同，则会更新信息。
- 当然，Excel文件也是符合规定的格式才可以，请参照[这里](#)。
</div>
{% endblock %}
{% block foot %}
<script>
    $("#body").html(marked($("#body").text()));
</script>
{% endblock %}